[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/uC-sdk"]
	path = third_party/uC-sdk
	url = https://github.com/grumpycoders/uC-sdk.git
[submodule "third_party/libcester"]
	path = third_party/libcester
	url = https://github.com/exoticlibraries/libcester.git
[submodule "third_party/ucl"]
	path = third_party/ucl
	url = https://github.com/Distrotech/ucl.git
[submodule "third_party/SDL_GameControllerDB"]
	path = third_party/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak
[submodule "third_party/zep"]
	path = third_party/zep
	url = https://github.com/grumpycoders/zep.git
[submodule "third_party/vixl"]
	path = third_party/vixl
	url = https://github.com/grumpycoders/vixl
[submodule "third_party/imgui_md"]
	path = third_party/imgui_md
	url = https://github.com/mekhontsev/imgui_md.git
[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/grumpycoders/nanovg
[submodule "third_party/nanosvg"]
	path = third_party/nanosvg
	url = https://github.com/grumpycoders/nanosvg
[submodule "third_party/luacov"]
	path = third_party/luacov
	url = https://github.com/grumpycoders/luacov.git
